body{
    text-align:center;
    top:100px;
}

form{

    background-color:brown;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    display: inline-block;
    align-content: center;
    border-radius:10%;
    width:350px;
    height:150px;
    

}

label{
    color: cornsilk;
    

}